/* Avatar image */
article section img {
	/* 7px to the top is a HACK to ensure, that the image alignes with the top of the author-name */
	margin: 7px 0px 0px 0px;
}

/* It depends on the content of the site, when the language buttons and home button should move to the top. That's why I override the default settings. */
@media (min-width: 750px) {
  .language-container, .btn-home {
    top: 20px;
  }
}

/* Date usually below the heading of a section in a traveö report to indicate what day this section covers */
.section-date {
    color: #0000004d;
	margin-top: -4px;
	margin-bottom: 10px;
}
